Лекция 2: Жизненный цикл программного
обеспечения, требования
Юрий Литвинов
y.litvinov@spbu.ru

26.02.2026

Жизненный цикл

Виды деятельности при разработке ПО

▶ Возникновение и исследование идеи
▶ Анализ и сбор требований (пилотный проект)
▶ Планирование и проектирование
▶ Разработка
▶ Отладка и тестирование
▶ Сдача
▶ Сопровождение

Юрий Литвинов

Жизненный цикл ПО, требования

26.02.2026

2 / 36

Жизненный цикл

Жизненный цикл ПО

▶ Период времени от возникновения идеи до прекращения
использования
▶ Последовательность этапов
▶ Состав и последовательность работ
▶ Получаемые результаты
▶ Методы и средства
▶ Роли и ответственности
▶ …

▶ Модели жизненного цикла

Юрий Литвинов

Жизненный цикл ПО, требования

26.02.2026

3 / 36

Модели ЖЦ

Самая популярная модель разработки ПО

Юрий Литвинов

Жизненный цикл ПО, требования

26.02.2026

4 / 36

Модели ЖЦ

Водопадная (каскадная) модель

В. Ройс, 1970г, «Managing the Development of Large Software
Systems»

Юрий Литвинов

Жизненный цикл ПО, требования

26.02.2026

5 / 36

Модели ЖЦ

Итеративная модель

Юрий Литвинов

Жизненный цикл ПО, требования

26.02.2026

6 / 36

Модели ЖЦ

Спиралевидная модель

Юрий Литвинов

Жизненный цикл ПО, требования

26.02.2026

7 / 36

Требования

Требования

Требование — это любое условие, которому должна
соответствовать разрабатываемая система или программное
средство
▶ Возможности
▶ Ограничения

Юрий Литвинов

Жизненный цикл ПО, требования

26.02.2026

8 / 36

Требования

Виды требований

Юрий Литвинов

Жизненный цикл ПО, требования

26.02.2026

9 / 36

Требования

Пример
▶ Бизнес-требование:
▶ продукт позволит пользователям эффективно исправлять
орфографические ошибки в тексте

▶ Требования пользователей:
▶ сценарии «Найти орфографическую ошибку» или «Добавить
слово в общий словарь»

▶ Функциональные требования:
▶ поиск и выделение слова с ошибкой
▶ отображение диалогового окна с фрагментом текста с
ошибочным словом
▶ полнотекстовая замена слова с ошибкой

▶ Атрибуты качества:
▶ простота использования («эффективность»)

Юрий Литвинов

Жизненный цикл ПО, требования

26.02.2026

10 / 36

Требования

Требования к требованиям
▶ Единичность
▶ Завершенность
▶ Непротиворечивость
▶ Атомарность
▶ Отслеживаемость
▶ Актуальность
▶ Выполнимость
▶ Недвусмысленность
▶ Обязательность
▶ Проверяемость

Юрий Литвинов

Жизненный цикл ПО, требования

26.02.2026

11 / 36

Работа с требованиями

Работа с требованиями
▶ разработка
требований
▶ выявление
требований
▶ анализ требований
▶ спецификация
требований
▶ проверка
требований

▶ управление
требованиями

Юрий Литвинов

Жизненный цикл ПО, требования

26.02.2026

12 / 36

Работа с требованиями

Выявление требований
▶ Определение процесса формулирования требований
▶ Определение классов пользователей и их характеристик
▶ Выбор типичного пользователя в каждом классе
пользователей
▶ Организация фокус-групп/интервью типичных пользователей
▶ Наблюдение за пользователями на рабочих местах
▶ Изучение отчетов о проблемах работающих систем
▶ Определение системных событий и реакции на них
▶ Создание документа об образе и границах проекта

Юрий Литвинов

Жизненный цикл ПО, требования

26.02.2026

13 / 36

Работа с требованиями

Выявление требований в реальности

Юрий Литвинов

Жизненный цикл ПО, требования

26.02.2026

14 / 36

Работа с требованиями

Анализ требований

▶ Анализ осуществимости требований
▶ Определение приоритетов требований
▶ Моделирование требований
▶ Создание словаря терминов
▶ Создание контекстной диаграммы
▶ Создание пользовательского интерфейса и технических
прототипов

Юрий Литвинов

Жизненный цикл ПО, требования

26.02.2026

15 / 36

Работа с требованиями

Проверка требований

▶ Изучение документов с требованиями
▶ Определение критериев приемлемости
▶ Тестирование требований

Юрий Литвинов

Жизненный цикл ПО, требования

26.02.2026

16 / 36

Работа с требованиями

Основные риски, связанные с требованиями

▶ Недостаточное вовлечение пользователей
▶ Игнорирование классов пользователей
▶ Разрастание требований пользователей
▶ Двусмысленность требований
▶ Излишняя дополнительная функциональность
▶ Урезанная спецификация
▶ Небрежное планирование

Юрий Литвинов

Жизненный цикл ПО, требования

26.02.2026

17 / 36

Профессия «Аналитик»

Трудовые функции аналитика
Профстандарт 06.022 «Системный аналитик»

▶ Разработка и сопровождение требований к отдельным
функциям системы
▶ Разработка и сопровождение требований и технических
заданий на разработку и модернизацию систем и подсистем
малого и среднего масштаба и сложности
▶ Концептуальное, функциональное и логическое
проектирование систем среднего и крупного масштаба и
сложности
▶ Управление аналитическими работами и подразделением
Квалификационные уровни с 4 по 7

Юрий Литвинов

Жизненный цикл ПО, требования

26.02.2026

18 / 36

Документы

Создаваемые документы

▶ Документ об образе и границах системы
▶ Глоссарий
▶ Модель требований
▶ Прототип пользовательского интерфейса
▶ Спецификация требований

Юрий Литвинов

Жизненный цикл ПО, требования

26.02.2026

19 / 36

Документы

Документ об образе и границах проекта
▶ Бизнес-требования
▶ Контекст
▶ Бизнес-возможности
▶ Бизнес-цели и критерии
успеха
▶ Потребности клиента или
рынка
▶ Бизнес-риски

▶ Project vision
▶ Положение об образе
проекта
▶ Основные функции
▶ Предположения и
зависимости

Юрий Литвинов

▶ Масштабы и ограничения
проекта
▶ Основная
функциональность
▶ Объем первоначальной
версии
▶ Объем последующих
версий
▶ Ограничения и
исключения

▶ Бизнес-контекст
▶ Профили
заинтересованных лиц
▶ Приоритеты проекта
▶ Операционная среда

Жизненный цикл ПО, требования

26.02.2026

20 / 36

Документы

Образ проекта

Для [целевая аудитория покупателей], которые [потребности или
возможности пользователей], [имя продукта] является [категория
продукта], который [ключевое преимущество, основная причина
для покупки или использования]. В отличие от [основной
конкурирующий продукт, текущая система или текущий
бизнес-процесс] наш продукт [основное отличие и преимущество
нового продукта].

Юрий Литвинов

Жизненный цикл ПО, требования

26.02.2026

21 / 36

Документы

Контекстная диаграмма

Задание границ системы
и связи с внешним миром

Юрий Литвинов

Жизненный цикл ПО, требования

26.02.2026

22 / 36

Документы

Feature tree

Юрий Литвинов

Жизненный цикл ПО, требования

26.02.2026

23 / 36

Документы

Моделирование требований
▶ Диаграммы случаев использования
▶ Актёры (роли)

▶ кто-то или что-то вне системы, влияющий или оказывающий
влияние
▶ люди или программные системы

▶ Случаи (сценарии) использования
▶ цель пользователя системы
▶ действие-реакция для достижения цели

▶ Общее представление функциональных требований

Юрий Литвинов

Жизненный цикл ПО, требования

26.02.2026

24 / 36

Документы

Задание границ проекта

Юрий Литвинов

Жизненный цикл ПО, требования

26.02.2026

25 / 36

Документы

Сценарий использования (1)

Юрий Литвинов

Жизненный цикл ПО, требования

26.02.2026

26 / 36

Документы

Сценарий использования (2)

Юрий Литвинов

Жизненный цикл ПО, требования

26.02.2026

27 / 36

Документы

Диаграммы активности

© https://www.uml-diagrams.org/

Юрий Литвинов

Жизненный цикл ПО, требования

26.02.2026

28 / 36

Документы

Data-flow diagrams

▶ сущности системы
▶ внешние сущности
▶ потоки данных
▶ иерархическая
модель

Юрий Литвинов

Жизненный цикл ПО, требования

26.02.2026

29 / 36

Документы

Спецификация требований к ПО (SRS) (1)
▶ Введение
▶ Цели
▶ Соглашения о терминах
▶ Предполагаемая аудитория
▶ Масштаб проекта
▶ Ссылки на источники
▶ Общее описание
▶ Видение продукта
▶ Функциональность продукта
▶ Классы и характеристики пользователей
▶ Среда функционирования продукта
▶ Рамки, ограничения, правила и стандарты
▶ Документация для пользователей
▶ Допущения и зависимости

Юрий Литвинов

Жизненный цикл ПО, требования

26.02.2026

30 / 36

Документы

Спецификация требований к ПО (SRS) (2)
▶ Функциональность системы
▶ Функциональный блок X
▶ Описание и приоритет
▶ Причинно-следственные связи, алгоритмы
▶ Функциональные требования
▶ Требования к внешним интерфейсам
▶ Интерфейсы пользователя (UX)
▶ Программные интерфейсы
▶ Интерфейсы оборудования
▶ Интерфейсы связи и коммуникации
▶ Нефункциональные требования
▶ Требования к производительности
▶ Требования к сохранности (данных)
▶ Критерии качества ПО
▶ Требования к безопасности системы
▶ Прочие требования
Юрий Литвинов

Жизненный цикл ПО, требования

26.02.2026

31 / 36

Документы

Требования и тестирование

Юрий Литвинов

Жизненный цикл ПО, требования

26.02.2026

32 / 36

Документы

Управление требованиями
▶ Определение процесса управления изменениями
▶ Создание базовой версии и управление версиями требований
▶ Использование средств версионирования и управления
требованиями
▶ Анализ влияния изменений требований
▶ Оценка изменяемости требований

Юрий Литвинов

Жизненный цикл ПО, требования

26.02.2026

33 / 36

Документы

Не соглашайтесь, будьте как Уолли

Юрий Литвинов

Жизненный цикл ПО, требования

26.02.2026

34 / 36

Документы

Атрибуты требований
▶ Дата создания, автор
▶ Номер текущей ревизии
▶ Лицо, ответственное за удовлетворение требования
▶ Происхождение или источник требования
▶ Состояние (proposed, approved, implemented, verified, rejected
и т.п.)
▶ Приоритет
▶ Подсистемы, для которых актуально требование
▶ Номер версии продукта, для которой актуально требование
▶ Критерий приемлемости, используемый метод проверки

Юрий Литвинов

Жизненный цикл ПО, требования

26.02.2026

35 / 36

Документы

Доп. информация

https://stepik.org/course/1128/

Юрий Литвинов

Жизненный цикл ПО, требования

26.02.2026

36 / 36

